# Ignore everything
*

# But not these files...
!*.gitignore
# !*.ahk
!*.md

# ...even if they are in subdirectories
!*/

# vcode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# github
!.github/**/*

# custom
# !lib/*.ahk
!lib/**/*.ahk
!lib/**/*.ahk2
!lib/**/*.ahkv2
# !scripts/*.ahk
!scripts/**/*.ahk
!scripts/**/*.ahk2
!scripts/**/*.ahkv2
# !scripts/bin/*.exe

ahkstudio/*
autohotinterception/*
scripts/SteamBulkKeyActivator/
scripts/temp/
!scripts/buttons/*
Adventure/
AutoGUI/
Lib/TrayIcon.bak.ahk
scripts/AHK-Rare
