# Ignore everything
*

# But not these files...
!*.gitignore
!*.ahk
!*.md

# ...even if they are in subdirectories
!scripts/

# vcode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# custom
# !scripts/*.ahk
# !scripts/bin/*.exe

ahkstudio/*
autohotinterception/*
